.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.image {
  grid-area: header;
  object-fit: cover;
}

h1 {
  padding: 10px;
  text-align: left;
}
h3 {
  padding: 10px;
  text-align: left;
}
p {
  padding: 10px;
  text-align: left;
}
.meat {
  display: flex;
  flex-direction: row;
  grid-area: main;
  flex-wrap: wrap;
}
.main {
  flex: 1;
  text-align: left;
  padding: 10px;
  min-width: 400px;
}
.amenities {
  flex: 1;
  padding: 10px;
  text-align: left;
  min-width: 400px;
}
.review {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
